
.div{
	margin-top:200px;
	margin-left:500px;
	width:500px;
	height:100px;
	background-color:plum;
	text-align:center;
	padding-top:50px;
	border-radius:5px;
}
.d2{
	border-radius:5px;
	background-color:pink;
}